body {
    font-family: "Nitti Grotesk", Helvetica, Arial, sans-serif;
}

a {
    color: #45b0e5;
    text-decoration: none;
}

li {
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #f2f2f2;
    color: #333333;
}

.wrapper {
    max-width: 912px;
    width: 100%;
    margin: 0 auto;
}

.header {
    color: #444444;
}

.logo {
    height: 32px;
    margin-right: 10px;
}